# Dependencies
node_modules/
/.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
*.hprof

# Metro
.metro-health-check*
.metro-cache/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
.idea/
.vscode/
*.log

# macOS
.DS_Store
*.pem

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/*
!ios/*.xcodeproj/project.pbxproj
!ios/*.xcodeproj/xcshareddata/
!ios/*.xcworkspace/contents.xcworkspacedata

# Android
android/app/build/
android/build/
android/local.properties
android/app/debug
android/app/release
android/.gradle/
android/*.iml
.gradle/

# Environment files
.env
.env.*
!.env.example
.env*.local

# TypeScript
*.tsbuildinfo

# Testing
/coverage
__tests__/coverage/

# Production
/build
/dist

# Temporary files
*.swp
*.swo
.tmp/
*.tmp
*.bak
